@model IEnumerable<Models.DbModels.GroundList>

@{
    ViewData["Title"] = "MyGround";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function response(id) {
        var txt = document.getElementById('Activate');
        if (txt.value == 'Activate') {
            var text = "Do you want to Activate"
            var text2 = "Activated successfully"
        }
        else {
            var text = "Do you want to Deactivate"
            var text2 = "Deactivated successfully"
        }

        if (confirm(text) == true) {
            window.location.href = '@Url.Action("ChangeActiveStatus", "Ground")?groundId=' + id;
            alert(text2);
        }
        else {
            return false;
        }

    }
</script>

<h1>@Html.ActionLink("My Profile ","Profile","User")| <b>My Ground</b></h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroundId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SportType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroundId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SportType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
                <td>
                    @if (item.Active != null)
                    {
                        @if (item.Active == true)
                        {
                            <input type="submit" value="Deactivate" class="btn btn-danger" id="Activate" onclick="return response(@item.GroundId)" />
                        }
                        else
                        {
                            <input type="submit" value="Activate" class="btn btn-primary" id="Activate" onclick="return response(@item.GroundId)" />
                        }
                    }
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "SearchByGroundName", new { ground=item.Venue }) |
                </td>
        </tr>
}
    </tbody>
</table>
