@model IEnumerable<Models.DbModels.TeamList>

@{
    ViewData["Title"] = "MyTeam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function response(id) {
        var txt = document.getElementById('Activate');
        if (txt.value == 'Activate') {
            var text = "Do you want to Activate"
            var text2 = "Activated successfully"
        }
        else {
            var text = "Do you want to Deactivate"
            var text2 = "Deactivated successfully"
        }

        if (confirm(text) == true) {
            window.location.href = '@Url.Action("ChangeActiveStatus", "Team")?teamId='+id;
            alert(text2);
        }
        else {
            return false;
        }

    }
</script>

<h1>@Html.ActionLink("My Profile ","Profile","User")| <b>My Team</b></h1>
<p>
    <a asp-action="TeamRegister">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeamId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SportType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SportType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                    @Html.ActionLink("Add Players","AddPlayer","TeamMember",new{teamId=item.TeamId}) |
                    @Html.ActionLink("Players","MyTeamMember","TeamMember",new{teamId=item.TeamId}) |
                    @if (item.Active != null)
                    {
                        @if (item.Active == true)
                        {
                            <input type="submit" value="Deactivate" class="btn btn-danger" id="Activate" onclick="return response(@item.TeamId)" />
                        }
                        else
                        {
                            <input type="submit" value="Activate" class="btn btn-primary" id="Activate" onclick="return response(@item.TeamId)"/>
                        }
                    }
                    @Html.ActionLink("Edit", "EditTeam", new {  teamId=item.TeamId }) |
                    @Html.ActionLink("Details", "SearchByTeamName", new { team=item.TeamName })
            </td>
        </tr>
}
    </tbody>
</table>
